<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RunAtLoad</key>
	<true/>
	<key>StartOnMount</key>
	<true/>
	<key>Label</key>
	<string>gay.sarahuwu.ntfsremount</string>
	<key>Program</key>
	<string>/usr/local/libexec/ntfs-remount</string>
</dict>
</plist>
