<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StartOnMount</key>
	<true/>
	<key>Label</key>
	<string>gay.sarahuwu.ntfsremount</string>
	<key>Program</key>
	<string>/usr/local/bin/ntfs-3g</string>
	<key>ProgramArguments</key>
	<array>
		<string>/dev/disk0s3</string>
		<string>/Volumes/Windows</string>
	</array>
</dict>
</plist>
